<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='icon' href='favicon.ico' type='image/x-icon'/ >
<link rel="stylesheet" href="/css/bootstrap.min.css">

<title>USER</title>
</head>
<body>
	<div class="d-flex justify-content-center">
		<h1>USER</h1>
	</div>
	<div class="d-flex justify-content-center">
		<div sec:authorize="hasRole('ADMIN')">Este mensagem só é
			mostrada para Administradores.</div>
	</div>
</body>
</html>